* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    border: 2px solid #ff6700;
    border-radius: 15px;
    padding: 30px;
    width: 55%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.login-form label {
    color: #333;
    margin-bottom: 5px;
}

.login-form input {
    padding: 10px;
    border: 1px solid #ff6700;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}

.login-form button {
    background-color: #ff6700;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #e65c00;
}

.links {
    text-align: center;
    margin-top: 15px;
}

.links a {
    color: #ff6700;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.links a:hover {
    color: #e65c00;
}